{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
              {% for hotel in hotels %}
              <option id="hotel{{hotel.id}}" data-value='{{ hotel.place.location }}'>{{ hotel.name }}</option>
              {% endfor %}
            </select>
            <button id="hotelButton" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
              {% for restaurant in restaurants %}
              <option id="restaurant{{restaurant.id}}" data-value='{{ restaurant.place.location }}'>{{ restaurant.name }}</option>
              {% endfor %}
            </select>
            <button id="restaurantButton" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
              {% for activity in activities %}
              <option id="activity{{activity.id}}" data-value='{{ activity.place.location }}'>{{ activity.name }}</option>
              {% endfor %}
            </select>
            <button id="activityButton" data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span id ='day-span'>Day 1</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default" id="itinerary">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn current-day">1</button>
            <button class="btn btn-circle day-btn">2</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body day1 current">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group listHotels" id="day1Hotels">
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group listRestaurants" id="day1Restaurants">
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group listActivities" id="day1Activities">
            </ul>
          </div>
        </div>
        <div class="panel-body day2 hidden" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group listHotels" id="day2Hotels">
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group listRestaurants" id="day2Restaurants">
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group listActivities" id="day2Activities">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
